@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --heading-style: "Nerko One", cursive;
  --paragraph-style: "Lobster", cursive;
  --link-style: 'Roboto', sans-serif;

  --heading-size: 1.5rem;
  --paragraph-size: 1.2rem;

  --item-heading-size: 1.3rem;
  --item-paragraph-size: 1.1rem;
  --link-size: 1.1rem;
  --link-hover-size: 1.3rem;


  --text-color: rgb(255, 255, 255);
  --item-paragraph-color: rgb(192, 192, 192);
  --link-color: rgb(0, 0, 255);
  --hover-color: rgb(255, 215, 0);
}

html {
  font-size: 20px;
}

.project-container {
  background-color: black;

  background-position: center center;
  background-size: cover;

  background-repeat: no-repeat;
  background-image: url(./../img/background1.jpg);
  color: var(--text-color);
  width: 100%;
  height: 100%;

  animation: mainBackground 5s linear infinite;
  transition: background-image 5s linear;
}

@keyframes mainBackground {
  to {background-image: url(./../img/background1.jpg);}
  to {background-image: url(./../img/background2.jpg);}
  to {background-image: url(./../img/background3.jpg);}
  to {background-image: url(./../img/background4.jpg);}
  to {background-image: url(./../img/background5.jpg);}
}

.project-field {
  width: 90%;
  height: 90%;
  margin: auto;
}

.heading {
  font-family: var(--heading-style);
}

.paragraph {
  font-family: var(--paragraph-style);
}

.link {
  font-family: var(--link-style);
}

/* header start */
.header-box {
  display: flex;
  padding-top: 1rem;
  align-items: center;
}

.header-img-box {
  width: 200px;
}

.header-content-box {
  margin-left: 1rem;
}

.header-image {
  width: 100%;
}

.header-heading {
  font-size: 2rem;
  line-height: 2rem;
}

.header-paragraph {
  color: var(--item-paragraph-color)
}
/* header finish */

/* main start */
.main-section {
  margin-top: 1rem;
}

.section-heading {
  font-size: var(--heading-size);
  line-height: var(--heading-size);
}

.section-paragraph {
  font-size: var(--paragraph-size);
  line-height: var(--heading-size);
  text-indent: 3rem;
}

.section-content-box {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.section-item {
margin-top: 0.5rem;
}

.item-img {
  width: var(--item-heading-size);
}

.item-heading {
  margin-left: 0.5rem;
  font-size: var(--item-heading-size);
  line-height: var(--item-heading-size);
}

.item-paragraph {
  margin-left: 0.5rem;
  font-size: var(--item-paragraph-size);
  line-height: var(--item-heading-size);
  color: var(--item-paragraph-color);
  transition: all .3s linear;
}

.item-paragraph:hover {
  color: var(--hover-color);
}

.item-link {
  margin-left: 0.5rem;
  color: var(--link-color);
  font-size: var(--item-paragraph-size);
  font-weight: 600;
  line-height: var(--item-heading-size);
  transition: all .3s linear;
}

.item-link:hover {
  color: var(--hover-color);
  font-weight: 600;
  box-shadow: 0px 0px 5px 5px var(--hover-color);
}

.item-sign {
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: baseline;
}

.section-img-box {
  margin-top: 1rem;
}

.section-img {
  width: 2rem;
  vertical-align: middle;
  margin-left: 1rem;
  transition: all 0.3s;
}

.section-img:hover {
  scale: 1.5;
  animation: sectionImgAnimation 2s linear infinite;
}

@keyframes sectionImgAnimation {
  to {
    transform: rotateY(360deg);
  }
}

.item-pre {
  font-size: 0.8rem;
}

.experience-paragraph {
  margin-bottom: 0.5rem;
}
.inner-section-list {
  margin-left: 5rem;
}
/* main finish */

/* footer start */

.footer-box {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-link {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  padding: .2rem .3rem;
}

.footer-img {
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.footer-link:hover > .footer-img {
  animation: sectionImgAnimation 2s linear infinite;
}

.footer-logo {
  width: 200px;
  transition: all .3s linear;
}

.footer-logo:hover {
  scale: 1.1;
}
/* footer finish */
